{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}
        <title> Home page </title>
    {% endblock %}
</head>


{% block subheader %}
<header>Home page</header>
{% endblock  %}

{% block content %}
<tt>
##############################################################################################################
##############################################################################################################
##################@@######################################################################@@@@@###############
###############@@@@@@%%################################################################%%@###@@@##############
##############@########@%############################################################%%@###@%@##@#############
########################@%@########################################################%=@###@@@%@##@@############
####################@@@##@%%#####################################################@=%####@%%%@@@@#@@###########
####################@@@@##@%=###################################################==@###@@%%%%%%@@#@@###########
###################@@@%@####%%@###############################################@++%@@@@%%%%%%%%%%%@%###########
##################@@@@@@#####@%%#############################################=+=%@@@%%@%====%%@@@@%###########
###################@%%%%@@####@==###########################################+*=@@@@@%%==++=%@@@%@@=###########
################@###@@%%%@@@###@%=@#######################################@*+%@@@@@%%=++=%%%%@%@#@%###########
############@##@@#####@@%%%@@####=+%#####################################%*+=@@@@@%=+*+=%%%%%%%@@%%###########
############@@##@@#####@@%%%@@####%+=###################################=*+=@@@@@%===+==%%@%%%%%%%%###########
#############@@@@@#####@@%%%@@@####=*+################################@+*+=@@@@%%%==+==%%%%%===%%%@###########
#############@@@@%%@#@@@%%%%%%@#####=**=%@##############@@@@%@@%=%==+=**+%@@@@@%%=++=+++=====+==%=@###########
#############@@@@@%%%%%%%%%%%%@@#@###=*:*+++++++++==++**:****::::::*****++=%@@@@%=++*+++=======%==############
#############@@@@@#@%%%%%%%%%@@@@@@#@@=*::**:**+++++***::*:::--::::::::**++===%%%=++++++=========%############
##############@@@@@#@@%%%%%%%%%%@@@@%%=+*:::::*****::*****:::--:::::::*****++======+++++==%=%%==%@############
###############@@%%%@@@@@%%%%@@@@@%%%=+**::::****::**::**:::::::::::::*::****++++===++==%%%@@%%@@#############
##############@@@@@@@@@@#@###@%%=+=++++***::*++*+:*++:*::::::::::::::****:*****+++=%%%%@@@@%@%%%@#############
###############%%@@@@@@####@%========+==+****++**::++***::::-::**:::****:**+++++*+++=%%%@@@@%===##############
###############%%@@#######%=====%%%===++=+*+*+****:*****::::-:**::********++=++*+**+==%@@@@@%%=%##############
###############@%@@@####@@%=====%%%%%=+=+++++*:::**::**::*:::*:::***++***+++=+++*+*+++==%@@@@%=@##############
###############@@@@@###@@%%%%%%%%%%%%=++*++++*:--**-:***:****:-::**+++***+++======+=+++=%@@@@%%###############
################@@@@##@@@%%%%%%%%%%%%%+++*+=+*:--**-:********::::*++++**+=%%=%=++++++===%%@@#@@###############
################@@####@@@@%%%@@@%%%==++***+=+*:::**-:******+*::::*+++**+++=++======++====%@###@###############
################@@###@@@%%%%%%%%====++++**==+*::::*::::::::**:::*+===++++*+=+============%@@##################
################@###@%%%%%%%=======++******=+:::::::-::::::******+===++*++====++*+======%%@@@#################
###################@@%%%%%%===%@#########%+**:::::::---::::*++++*++*=@#########%=++======%%@@@################
##################@@@%%%%%%%@@####%===@@####=:::--------:::*+++***=#####@%===@####@%%===%=%@@#################
#################@@@@@%%%@@@%=%##+:+--@%=%###@*---:-----:::*++**+@###=+=@%=+*-@#===%@#@%%@@@@#################
#################@@@@@@@##%====##=*++=@%%=%###@::::::::::::+==+=####@==%@%++*:#@=++=%%@#%@####################
###################@@@##@%%====%##=++===%%@####=:::::::::::+%=%#####@%%===++*#@%+++==@@#######################
######################@@%%%%%====%##@%%%@######%*******:::*=%%@#######@%==%#@%=++==%@@########################
#####################@@@%%%%%%%%==+==%@###@@%%@@=**********+%@#####@###@@%=++++=%%%%@@########################
####################@@@%%%%%@@@%%%%%==+++**+=%##@++++**++++=%%######%+++++==%%%%@@@@@@@#######################
###################@@@%%%%%%%%%%%%%%%%=======@##@=++**+++===%%@####@%======%%@@@@@@@@@@#######################
##################@@@@%%@@@%%%%%%%%%%%%===+==%%@%=++++++====%%@@#@@@@%%%%%%@@@@@@@@@##########################
###################@@@@@%%%===%%%%%%=%==+++++===%=+++++++==%%@@@@@@%%%%%%@@@@@@@@@@@@#########################
#####################@@@%%============+++++++++==+++++=+====%%@@@%%%%%%@@@@@%%%%%%%%%@########################
##################@@@@@%============++++**++++++=======%%%%%%@@@@@%%%%%%%%%%%%%%%%%%%@@#@@@###################
######################@@%%===+++++==++++++++**++%%%%%%%%@@#####@@@@@@@@@@%%%%=%%==%%@@@@######################
#####################@%%==++++++++++++++++++****+%@=+++++=%@#@@@@@@@@@@%%%%%%%%%%%@%%@@#######################
#################@@##@%%%%%=+++++++*++++++*+*******%#===+@@==%%%%@@%%%%%%%====%%@###@@@###@###################
#############@###@######@@@%====+++*******+*********=##@#=*++==%%%@%%=====%%%@@@@@########@###@###############
#########@@##@########@@###%====%%%=++***************+@%**+++==%%%%%%%%%%%@@@@@@#####@########@###############
#######@##@#######@@###@##%###@%%=====+************++=@%+++===%%%%%%%%%@@@@@@@@@#@#######@####################
########@######@@###@###@#########@%====+++++****++%@#@#@%====%%%%%%@@@@@@##################@#################
############@@###########################%%%%%%%%%======%%%@@@@@@@@@@#########################################
##########@################################@%==+=++++++====%%%%%%%@###########################################
##################@###########################%==++===%==%%%%%%@@#############################################
#################################################@%%%%@@@@@@@#################################################
##############################################################################################################
##############################################################################################################



</tt>
{% endblock  %}





